<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Twitter redesign</title>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>
  <body>
    <div class="container-fluid">
      <div class="left col-6"></div>
      <div class="right col-6">
        <div class="login-form">
        <i class="fas fa-people-carry"></i>
          <%= form_with do |form| %>
            
            <%= form.text_field :username, placeholder: "Username (e.g. johndoe)" %>

            <%= form.submit "Login", class: "btn" %>
          <% end %>
          <%= link_to "Sign up", signup_path, class: "btn register-btn no-decor"%>
        </div>
      </div>
    </div>
    <%= toastr_flash %>
    <script
      src="https://kit.fontawesome.com/5e5550bba8.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
