<aside class="right-aside col-3">
  <div class="grid user-profile-info">
    <div class="user-profile-add col-4">
      <%= action(@user) %>
    </div>
    <div class="user-profile-image col-4">
      <a href="#">
        <img
     
          alt="Profile picture"
        />
      </a>
    </div>
    <div class="user-profile-menu col-4">
      <a href="#">
        <i class="fa fa-list-ul"></i>
      </a>
    </div>
    <div class="user-profile-name col-12">
      <h4><%= @user.full_name %></h4>
    </div>
    <div class="user-profile-username col-12">@<%= @user.username %></div>
  </div>
  <div class="counters">
    <div class="counter">
      <a href="#" class="no-decor">
        <h3><%= @user.opinions.count %></h3>
        <span>Opinions</span>
      </a>
    </div>
    <div class="counter">
      <a href="#" class="no-decor">
        <h3><%= @user.followings.count %></h3>
        <span>Following</span>
      </a>
    </div>
    <div class="counter">
      <a href="#" class="no-decor">
        <h3><%= @user.followers.count %></h3>
        <span>Follower</span>
      </a>
    </div>
  </div>
  <div class="followers">
    <h3>Followed By</h3>
    <ul class="followers-items">
      <% @user.followers.each do |follower| %>
        <% follower = follower.follower %>
        <li class="li follower-item">
          <div class="follower">
            <a href="#" class="follower-img no-decor">
              <img
                src="<%= asset_url(@user.photo_url) %>"
                alt="Profile picture"
                class="img-responsive follower-img"
              />
            </a>
            <a href="<%= user_path follower %>" class="follower-name no-decor">
              <h4><%= follower.full_name %></h4>
              <span>@<%= follower.username %></span>
            </a>
            <%= follow_action(follower) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
