<%= form_with(model: user, local: true) do |form| %>
  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.text_field :cover_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
