<% content_for :right_aside do %>
  <%= render 'partials/info_and_followers' %>
<% end %>

<% content_for :cover do %>
  <%= render 'partials/cover' %>
<% end %>

<div class="content-pan">
  <div class="pan-heading">
    <h4>Latest Opinions</h4>
  </div>
  <div class="pan-content">
    <% @opinions.each do |opinion| %>
      <div class="opinion">
        <div class="post-img">
          <img
           
            alt="Profile picture"
            class="img-responsive follower-img"
          />
        </div>
        <div class="post-content">
          <h4>
            <a href="<%= user_path opinion.user %>" class="no-decor">
              <%= opinion.user.full_name %>
            </a>
          </h4>
          <p>
            <%= opinion.text %>
          </p>
        </div>
        <div class="post-time"><%= distance_of_time_in_words(Time.now, opinion.created_at) %> ago</div>
      </div>
    <% end %>
  </div>
</div>
