<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Twitter redesign</title>
 
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'partials/left_aside' %>
      <main class="main col-10 grid">
        <%= render 'partials/nav' %>
        <div class="page col-9">
          <%= yield :cover %>

          <div class="content">
            <%= yield %>
          </div>
        </div>
        <%= yield :right_aside %>
      </main>
    </div>
    <%= toastr_flash %>
    <script
      src="https://kit.fontawesome.com/5e5550bba8.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
